@import url("//unpkg.com/@catppuccin/highlightjs/css/catppuccin-latte.css");

/* Based on Latte flavor in Catppuccin */
._addText {
	content: "{{User:GuoPC/MoeLatte}}<p>具体使用方法请参阅[[User:鬼影233/MoeSkinPlus#主题包]]。</p>";
}
 
:root {
	--theme-accent-color--rgb: 26, 162, 170 !important;
	--theme-secondary-color--rgb: 32, 159, 181 !important;
	--theme-text-color--rgb: 76, 79, 105 !important;
	--theme-link-color: rgb(3, 105, 146) !important;
	--theme-accent-link-color: rgb(230, 233, 239) !important;
	--theme-background-color: rgb(251, 252, 253) !important;
	--theme-border-color: rgb(220, 224, 232) !important;
	--theme-text-shadow-color: rgb(140, 143, 161) !important;
	--theme-button-color: rgb(32, 159, 181) !important;
	--theme-button-color--hover: #209FB5 !important;
	--theme-button-color--active: #04A5E5 !important;
	--theme-card-background-color--rgb: 253, 251, 246 !important;
	--theme-card-box-shadow: 0 0 0.5rem rgba(140, 143, 161, 0.1) !important;
	--theme-card-box-shadow--hover: 0 0 0.85rem rgba(140, 143, 161, 0.2) !important;
	--theme-header-background-color: rgb(230, 233, 239) !important;
	--theme-header-box-shadow-color: rgb(220, 224, 232) !important;
	--theme-footer-top-color: rgb(220, 224, 232) !important;
	--theme-footer-bottom-color: #CCD0DA !important;
	--theme-danger-color: rgb(230, 69, 83) !important;
	--theme-input-background-color: rgb(247, 248, 250) !important;
	--theme-input-border-color: rgb(220, 224, 232) !important;
	--theme-input-border-color--hover: #CCD0DA !important;
	--theme-just-kidding-text-color: hsl(232, 10%, 53%);
}
 
/* 非MoeSkinPlus补充包，参考[[User:鬼影233/MoeSkinPlus#主题包]] */
:root {
	--theme-accent-color: rgb(var(--theme-accent-color--rgb)) !important;
	--theme-secondary-color: rgb(var(--theme-secondary-color--rgb)) !important;
	--theme-text-color: rgb(var(--theme-text-color--rgb)) !important;
	--theme-card-background-color: rgb(var(--theme-card-background-color--rgb)) !important;
}