@import url("//unpkg.com/@highlightjs/cdn-assets@11.7.0/styles/default.min.css");

* {
	transition: all 250ms;
}

body {
	margin: 0;
	background-color: var(--theme-background-color);
	color: var(--theme-text-color);
	line-height: 2;
	font-family: sans-serif;
}

header {
	background-color: var(--theme-header-background-color);
	box-shadow: 0 1px 0 0 var(--theme-header-box-shadow-color);
}
header > nav {
	display: flex;
	align-items: center;
}
header > nav > a,
header > nav > select {
	padding: 1em;
	margin: 0;
	background-color: var(--theme-card-background-color);
	color: var(--theme-text-color);
	border-radius: 0 0 3px 3px;
	-webkit-user-select: none;
	user-select: none;
}
header > nav > a:hover,
header > nav > select:hover {
	background-color: var(--theme-accent-color);
	color: var(--theme-accent-link-color);
}
#themeSelector {
	margin-left: auto;
	-webkit-user-select: none;
	user-select: none;
}
header > nav > select {
	margin-right: 1em;
	padding: 0.5em;
	border: none;
	border-radius: 3px;
	font-size: 1em;
	text-transform: capitalize;
}
header > nav > select > option {
	background-color: var(--theme-card-background-color);
	color: var(--theme-text-color);
}

a {
	color: var(--theme-link-color);
	text-decoration: none;
}
a::before,
a::after {
	content: " ";
}
a.ns::before,
a.ns::after {
	content: revert;
}
a:empty::after {
	content: attr(href);
}

h1 {
	text-align: center;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: serif;
}
h1 > a {
	border-bottom: 1px solid;
}
h1 > a,
h2 > a,
h3 > a,
h4 > a,
h5 > a,
h6 > a {
	color: var(--theme-text-color);
}

code {
	padding-inline: 0.125em;
	border-radius: 0.125em;
	background-color: var(--theme-card-background-color);
	border: 1px solid var(--theme-border-color);
}
pre {
	position: relative;
}
pre,
pre > code {
	word-wrap: break-word;
	white-space: pre-wrap;
	tab-size: 2em;
	border-radius: 0.5em;
	text-shadow: none;
}
pre::before {
	content: attr(lang);
	position: absolute;
	right: 0.5em;
	top: 0.25em;
}
pre > code {
	max-height: 15.25em;
	transition: max-height 1500ms;
	padding-top: 1.5em !important;
}
pre:hover > code,
pre > code:hover {
	max-height: 1000em;
}
pre > code > span {
	display: inline-block;
}

article {
	margin: 0 auto;
	padding: 0 2.5em;
	max-width: 45em;
}

p {
	text-indent: 2em;
}

s,
del {
	opacity: 0.75;
}

.heimu,
.heimu rt {
	padding-inline: 0.2rem;
	border-radius: 0.2rem;
	background-color: #252525;
}
.heimu,
.heimu a,
a .heimu,
a.new .heimu,
span.heimu a.new,
span.heimu a.external,
span.heimu a.external:visited,
span.heimu a.extiw,
span.heimu a.extiw:visited,
span.heimu a.mw-disambig,
span.heimu a.mw-redirect {
	transition: color 0.13s linear;
	color: #252525;
	text-shadow: none;
}
span.heimu:hover,
span.heimu:active {
	color: white;
}
span.heimu:hover a,
a:hover span.heimu {
	color: lightblue;
}
span.heimu:hover a:visited,
a:visited:hover span.heimu {
	color: #c5cae9;
}
span.heimu:hover a.new,
a.new:hover span.heimu {
	color: #fcc;
}
span.heimu a.new:hover:visited,
a.new:hover:visited span.heimu {
	color: #ef9a9a;
}
span.heimu:hover a.extiw:visited,
a.extiw:visited:hover span.heimu {
	color: #d1c4e9;
}

footer {
	padding: 1em;
	text-align: center;
}

::selection {
	background-color: var(--theme-text-color);
	color: var(--theme-background-color);
}

@media print {
	.noprint,
	.noprint *,
	header,
	header * {
		display: none !important;
	}
}
