@import url("//unpkg.com/@highlightjs/cdn-assets@11.7.0/styles/default.min.css");
@import url("//unpkg.com/nord-highlightjs@0.1.0/dist/nord.css");

body {
	margin: 0;
	background-color: var(--theme-background-color);
	color: var(--theme-text-color);
	line-height: 2;
	font-family: sans-serif;
}

header {
	background-color: var(--theme-header-background-color);
	box-shadow: 0 1px 0 0 var(--theme-header-box-shadow-color);
}
header > nav {
	display: flex;
	align-items: center;
}
header > nav > a {
	padding: 1em;
	margin: 0;
	background-color: var(--theme-card-background-color);
	color: var(--theme-text-color);
	border-radius: 3px;
	-webkit-user-select: none;
	user-select: none;
	transition: all 250ms;
}
header > nav > a:hover {
	background-color: var(--theme-accent-color);
	color: var(--theme-accent-link-color);
}

a {
	color: var(--theme-link-color);
	text-decoration: none;
	padding-inline: 0.125em;
	margin-inline: 0.125em;
}
a:empty::after {
	content: attr(href);
}

h1 {
	text-align: center;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: serif;
}
h1 > a,
h2 > a,
h3 > a,
h4 > a,
h5 > a,
h6 > a {
	color: var(--theme-text-color);
}

pre {
	position: relative;
}
pre,
pre > code {
	word-wrap: break-word;
	white-space: pre-wrap;
	tab-size: 2em;
	border-radius: 0.5em;
	text-shadow: none;
}
pre::before {
	content: attr(lang);
	color: #d8dee9;
	position: absolute;
	right: 0.5em;
	top: 0.25em;
}
pre > code {
	max-height: 15.25em;
	transition: max-height 1500ms;
	padding-top: 1.5em !important;
}
pre:hover > code,
pre > code:hover {
	max-height: 1000em;
}
pre > code > span {
	display: inline-block;
}

article {
	margin: 0 auto;
	padding: 0 2.5em;
	max-width: 45em;
	min-height: calc(100vh - 17.75em);
}

p {
	text-indent: 2em;
}

footer {
	min-height: 5em;
	padding: 1em;
	text-align: center;
}

::selection {
	background-color: var(--theme-text-color);
	color: var(--theme-background-color);
}

@media print {
	.noprint,
	.noprint *,
	header,
	header * {
		display: none !important;
	}
}

:root {
	--theme-accent-color: rgb(142, 212, 149);
	--theme-accent-color--rgb: 142, 212, 149;
	--theme-secondary-color: rgb(24, 127, 245);
	--theme-secondary-color--rgb: 24, 127, 245;
	--theme-text-color: rgb(44, 62, 80);
	--theme-text-color--rgb: 44, 62, 80;
	--theme-link-color: rgb(63, 81, 181);
	--theme-accent-link-color: rgb(255, 255, 255);
	--theme-background-color: rgb(248, 248, 248);
	--theme-border-color: rgb(218, 218, 218);
	--theme-text-shadow-color: rgb(85, 124, 88);
	--theme-button-color: rgb(37, 180, 73);
	--theme-button-color--hover: #2bd155;
	--theme-button-color--active: #219e40;
	--theme-card-background-color: rgba(255, 255, 255);
	--theme-card-background-color--rgb: 255, 255, 255;
	--theme-card-box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1);
	--theme-card-box-shadow--hover: 0 0 0.85rem rgba(0, 0, 0, 0.2);
	--theme-header-background-color: rgb(255, 255, 255);
	--theme-header-box-shadow-color: rgb(238, 239, 241);
	--theme-footer-top-color: rgb(250, 250, 252);
	--theme-footer-bottom-color: #eaeaf3;
	--theme-danger-color: rgb(186, 0, 0);
	--theme-input-background-color: rgb(245, 245, 245);
	--theme-input-border-color: rgb(222, 222, 222);
	--theme-input-border-color--hover: #e1e1e1;
}
